.yelp-img img {
    height: 100px;
}

#logout-form {
    display: inline;
}

#logout {
    display: inline;
}

#map {
    height: 400px;
}

#username-length, #username-taken, #username-correct, #zipcode-valid, #zipcode-invalid {
    display: none;
    font-size: 0.75em;
}

label {
    display: block;
}

#login-form label {
    display: inline;
}

#signup-div {
    display: none;
}

#list-items {
    display: inline;
}