.yelp-img img {
    height: 146px;
}

.profile-image {
  height: 146px;
}

.yelp-img, .yelp-info {
  display: inline-block;
}

#logout-form, #logout-div, #logout {
    display: inline;
}

#city-map {
    height: 400px;
}



#city-div {
  margin-top: 20px;
}

#username-length, #username-taken, #username-correct, #zipcode-valid, #zipcode-invalid {
    display: none;
    font-size: 0.75em;
}

#signup-div {
    display: none;
}

.form-group > form {
  width: 25%;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.ig-photo img {
    height: 400px;
    width: 400px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.ig-photo, .yelp-photo{
  display: inline;
}

.yelp-photo > img {
  height: 500px;
  width: 500px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}


/*STYLES FOR HOMEPAGE*/

#main-header {
  text-align: center;
}

body, html, .container-fluid {
  height: 100%;
}

.container-fluid {
  margin: 0 15px;
}

.row-first {
  height: 25%;
}

#main-map {
    height: 400px;
}

#view-controls {
  padding-left: 0;
}