
/*STYLING FOR HOMEPAGE*/

.material-icons {
  font-size: 12px;
}

.btn-default {
  background-color: transparent;
  color: #f50057;
  border-color: #f50057;
  font-weight: bold;
  font-size: 18px;
  padding: 2px 12px;
}

.logout-btn {
  background-color: transparent;
  color: #f50057;
  border-color: #f50057;
  font-weight: bold;
  font-size: 18px;
  padding: 2px 12px;
}

.navbar {
  background-color: #fff3e0;

}

.navbar-default .navbar-nav > .active > a {
  color: #f50057;
  background-color: #ffe0b2;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  font-size: 18px;
  color: #f50057;
}

.navbar-default .navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: #f50057;
  font-family: Pacifico, cursive;
}

.navbar-default {
    border-color: transparent;
}

body {
  font-family: Roboto, sans-serif;
}

#main-header {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.main-city-header {
  text-align: center;
}

body, html, .container-fluid {
  height: 90%;
}

.container-fluid {
  margin: 0 15px;
}

.row-first {
  height: 10%;
}

#main-map {
    height: 600px;
}

#discover-map {
    height: 400px;
}

#view-controls {
  padding-left: 0;
  padding-bottom: 10px;
}

.city-link {
  font-size: 18px;
  margin-top: 10px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}


/*STYLES FOR CITY PAGE*/

#email-list {
  margin-bottom: 10px;
  margin-top: 10px;
}

#top-restaurants {
  padding: 0;
}


#top-restaurants-list > li {
 float: left;
 clear: both;
}

#city-map {
    height: 400px;
}

#city-div {
  margin-top: 20px;
}

/*STYLES FOR PROFILE PAGE*/

input.profile-form {
  width: 50%;
}

#edit-list {
  margin-bottom: 10px;
}

.profile-image {
  height: 300px;
  border-radius: 50%;
  padding: 24px;
}

.yelp-img img {
    height: 10rem;
    width: 15rem;
}

.yelp-img, .yelp-info {
  display: inline-block;
}

.list-link {
  font-size: 16px;
}

/*.lists, .list-items {
  padding-top: 9rem;
}*/

.profile-info > li {
  font-size: 16px;
}

.list-items {
  height: 640px;
  overflow: scroll;
}

#email-list, #edit-list {
  display: inline-block;
  margin-right: 1%;
}

/*STYLES FOR DISCOVER PAGE*/

#hot-new-rests > li {
 float: left;
 clear: both;
}

/*STYLES FOR RESTAURANT PAGE*/

.ig-photo img {
    height: 400px;
    width: 400px;
    padding: 0 0 10px 0;
}

.yelp-photo {
  display: inline;
}

.yelp-photo > img {
  height: 400px;
  width: 400px;
  padding: 0 0 10px 0;
}

/*STYLES FOR SIGNUP, LOGIN, LOGOUT*/

#logout-form, #logout-div, #logout {
    display: inline;
}

#username-length,
#username-taken,
#username-correct,
#zipcode-valid,
#zipcode-invalid {
    display: none;
    font-size: 0.75em;
}

#signup-div {
    display: none;
}

.not-active {
  pointer-events: none;
  cursor: default;
}
