h4, li {
    color: #00695c;
}

a {
    color: #f50057;
}

a:hover {
    color: #f50057;
    text-decoration: underline;
}

.add-rest {
	margin-bottom: 1%;
}

.add-rest select {
	display: inline;
	width: 20%;
}

.add-rest-btn {
	display: inline;
}