<!doctype html>
<html>
<head>
    <title></title>
    <script src='http://code.jquery.com/jquery-3.2.1.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDznN8sa3CGq-S-mYT2yPNB58B5S3me6lg&libraries=places'></script>



    <!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE&callback=initMap">
</script>-->


</head>
<body>

{% block nav %}
  Put your body here.
{% endblock %}


<div id='nav'>
    <div id='logged-in-nav'
    {% if not session.get('user_id') %}
        hidden
    {% endif %}>
        <a href='/'>Home</a>
        <a id='profile-page' href='/profile'>Profile Page</a>
        <a href='/compare'>Compare</a>
        <a href='/cities'>Cities</a>
        <div id='logout-div'>
            <form action='/logout' id='logout-form' method='POST'>
                <input type='submit' value='Logout' id='logout-btn'>
            </form>
        </div>
    </div>
</div>


<!-- <a href='/cities'>Cities</a> -->
<!-- <a href='/'>Home</a> -->



<hr>


{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
  Put your body here.
{% endblock %}

<script src='/static/js/logout.js'></script>
<script src='/static/js/search.js'></script>

</body>
</html>