<!doctype html>
<html>
<head>
    <title></title>
    <script src='http://code.jquery.com/jquery-3.2.1.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDznN8sa3CGq-S-mYT2yPNB58B5S3me6lg&libraries=places'></script>



    <!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE&callback=initMap">
</script>-->


</head>
<body>

{% if session.get('user_id') %}
    <a href='/users/{{ session["username"] }}'>Profile Page</a>
{% endif %}

<a href='/cities'>Cities</a>
<a href='/'>Home</a>

{% if session.get('user_id') %}
    <!-- <div id='logout'> -->
        <form action='/logout' id='logout' method='POST'>
            <input type='submit' value='Logout' id='logout-btn'>
        </form>
    <!-- </div> -->
{% endif %}

</div>

<hr>


{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
  Put your body here.
{% endblock %}

<script src='/static/js/logout.js'></script>
<script src='/static/js/search.js'></script>

</body>
</html>