<!doctype html>
<html>
<head>
    <title></title>
    <script src='http://code.jquery.com/jquery-3.2.1.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>

</head>
<body>

{% if session.get('user_id') %}
    <a href='/users/{{ session["username"] }}'>Profile Page</a>
{% endif %}

<a href='/cities'>Cities</a>

<hr>


{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
  Put your body here.
{% endblock %}

<script src='/static/js/logout.js'></script>
<script src='/static/js/search.js'></script>
</body>
</html>