{% extends 'base.html' %}
{% block content %}


<h1>Check out what locals in these cities recommend!</h1>
<div id='city-div' hidden>
    <ul>
        {% for location in all_locations %}
            <li data-lat='{{ location.get("lat") }}' data-lng='{{ location.get("lng") }}' data-city='{{ location.get("city").lower() }}' data-state='{{ location.get("state").lower() }}'>
                <a href='/cities/{{ location.get("state").lower() }}/{{ location.get("city").lower() }}'>{{ location.get("city").title() }}, {{ location.get("state") }}</a>
            <!-- <br> -->
            </li>
        {% endfor %}
    </ul>
</div>


<div id='main-map'></div>
<script src='/static/js/main-map.js'></script>

<script>
    let idOfOptionToBold = '#city-page-link';
</script>

{% endblock %}