{% extends 'base.html' %}
{% block content %}

<h1 id='city' data-lat='{{ location.lat }}' data-lng='{{ location.lng }}'>{{ city.title() }}, {{ state.upper() }}</h1>

<div id='city-locals'>
    <h2>Meet The Locals</h2>
    <ul>
    {% for user in all_users %}
    <li>
        <a href='/users/{{ user.username }}'>{{ user.username }}</a>
        <br>
    </li>
    {% endfor %}
    </ul>
</div>

<div id='top-restaurants'>
    <h2>Top 10 Favorite Local Restaurants</h2>
    <div id='email-list'>
      <button id='email-list' data-toggle='modal' data-target='#emailModal'>Send List</button>
    </div>
    <ol>
    {% for restaurant in all_restaurants %}
        <li data-yelp-id='{{ restaurant.yelp_id }}' data-lat='{{ restaurant.lat }}' data-lng='{{ restaurant.lng }}' data-yelp='{{ restaurant.yelp_url }}'>{{ restaurant.name }}</li>
    {% endfor %}
    </ol>
</br>
</div>


<!-- EMAIL MODAL -->

<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send Top Restaurants</h4>
      </div>
      <div class="modal-body">
        <p class="modal-title" id="emailModalMsg"></p>
        <form id='city-email-form-bootstrap' method='POST' action='/send-city-email'>
          <div class="form-group">
            <label for="Email">To Email:</label>
            <input type="email" name='email' class="form-control" id="SendEmail" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="From">From:</label>
            <input type="text" name='from' class="form-control" id="FromEmail" placeholder="From" required>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>


<br>

<div id='map'></div>
<script src='/static/js/maps.js'></script>
<script src='/static/js/send-email.js'></script>

<script>
    let idOfOptionToBold = '';
</script>

{% endblock %}