{% extends 'base.html' %}
{% block content %}

<div class='container-fluid'>
    <p id='msg-para'></p>
    <div class='row'>
          <div class='main-city-header col-xs-offset-3 col-xs-6'>
            <h1 id='city' data-lat='{{ location.lat }}' data-lng='{{ location.lng }}'>{{ city.title() }}, {{ state.upper() }}</h1>
          </div>
    </div>

    <div class='row'>
          <div id='city-locals'>
              <h2>Meet The Locals</h2>
              <ul class='list-unstyled'>
                {% for user in all_users %}
                <li>
                    <a href='/users/{{ user.username }}'>{{ user.username }}</a>
                    <br>
                </li>
                {% endfor %}
              </ul>
          </div>
    </div>

    <div class='row'>
          <h2>Top 10 Favorite Local Restaurants</h2>
          <p>(Click to view on map)</p>
          <div id='top-restaurants' class='col-xs-4'>
              <ol id='top-restaurants-list'>
              {% for item in restaurant_tuples %}
                  <li data-yelp-id='{{ item[0].yelp_id }}' data-lat='{{ item[0].lat }}' data-lng='{{ item[0].lng }}' data-yelp='{{ item[0].yelp_url }}'>
                    <p style="display: inline;">{{ item[0].name }}</p>
                    <img src='/static/img/star.png'/><p style="display: inline;">{{item[1]}}</p>
                  </li>
              {% endfor %}
              </ol>
          </div>
    </div>

    <div class='row'>
          <div id='email-list'>
              <button class='btn btn-default' id='email-list' data-toggle='modal' data-target='#emailModal'>Send List</button>
          </div>
    </div>

    <div class='row'>
          <div id='city-map'></div>
    </div>

</div>


<!-- EMAIL MODAL -->

<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send Top Restaurants</h4>
      </div>
      <div class="modal-body">
        <p class="modal-title" id="emailModalMsg"></p>
        <form id='city-email-form-bootstrap' method='POST' action='/send-city-email'>
          <div class="form-group">
            <label for="Email">To Email:</label>
            <input type="email" name='email' class="form-control" id="SendEmail" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="From">From:</label>
            <input type="text" name='from' class="form-control" id="FromEmail" placeholder="From" required>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>


<script src="/static/js/city-mapstyles.js"></script>
<script src='/static/js/city-map.js'></script>
<script src='/static/js/send-email.js'></script>

<script>
    let idOfOptionToBold = '';
</script>

{% endblock %}