{% extends 'base.html' %}
{% block content %}

<p id='msg-para'></p>
<h2>You are most similar to {{ most_similar_user }}.</h2>

<img class='profile-image' src='/static/uploads/{{ similar_image }}'/>
<img class='profile-image' src='/static/uploads/{{ user_image }}'/>

<h3>These are the restaurants you have in common:</h3>
    <ol>
        {% for rests in rests_in_common %}
            <li><a href="/restaurants/{{ rests.yelp_id }}">{{ rests.name }}</a></li>
        {% endfor %}
    </ol>


{% if not_common %}
    <h3>These are the restaurants that {{ most_similar_user }} likes that you should check out!</h3>
        <ol>
            {% for rests in not_common %}
                <li><a href="/restaurants/{{ rests.yelp_id }}">{{ rests.name }}</a></li>
            {% endfor %}
        </ol>
{% endif %}

<h2>These are the top categories in your favorites list:</h2>
    <ol>
        {% for catg in top_catgs %}
            <li>{{ catg[0] }}</li>
        {% endfor %}
    </ol>

<script>
    let idOfOptionToBold = '#compare-page-link';
</script>

{% endblock %}