{% extends 'base.html' %}

{% block content %}

<link rel='stylesheet' type='text/css' href='/static/css/home.css'>

<div class='main container'>

<!-- ALERTS!!! -->
    <div id="homepage-alert" class="alert alert-success alert-dismissible" role="alert" hidden>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    <div id="inactive-homepage-alert" class="alert alert-warning alert-dismissible" role="alert" hidden>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

<!-- ROW -->

    <div class='row row-first' {% if session.get('user_id') %} hidden {% endif %}>
    </div>

<!-- PRE-LOGIN ROW -->

    <div id='main-home' class='row row-first' {% if session.get('user_id') %} hidden {% endif %}>
        <div class="col-lg-offset-3 col-lg-6 col-xs-12">
            <h1 id='main-header'>Lola</h1>
            <div style='width: 100%; background-color: #fcf8e3'>
                <p><b>the foodie friend you wish you had in every city to find out where the locals eat</b></p>
            </div>
            <div class='logged-out-toggle'>
                <button class='btn-default' data-toggle='modal' data-target='#loginModal'>Login</button>
                <button class='btn-default' data-toggle='modal' data-target='#signupModal'>Signup</button>
            </div>

        </div>

    </div>

<!-- ROW -->

    <div class='row row-first' {% if session.get('user_id') %} hidden {% endif %}>

    </div>

<!-- POST-LOGIN ROW -->

    <div class='row row-second' id='main-home-div'
        {% if not session.get('user_id') %} hidden {% endif %}>
    <!-- search for a city which uses Google Places autocomplete -->

        <div class="col-xs-12 col-lg-12">
            <h1 class='home-header'>View lists made by <span class='font-emphasis'>locals</span>.</h1>
            <div id='view-controls'>
                <button class='btn btn-default btn-sm' id='map-view-btn'>Map View</button>
                <button class='btn btn-default btn-sm' id='list-view-btn'>List View</button>
<!--                 <button class='btn btn-default btn-sm' id='search-btn'>Search</button> -->
            </div>

            <div id='city-div' hidden>
                <ul class='list-unstyled'>
                    {% for location in all_locations %}
                        <li data-lat='{{ location.get("lat") }}' data-lng='{{ location.get("lng") }}' data-city='{{ location.get("city").lower() }}' data-state='{{ location.get("state").lower() }}'>
                            <h3 class='city-link'><a href='/cities/{{ location.get("state").lower() }}/{{ location.get("city").lower() }}'>{{ location.get("city").title() }}, {{ location.get("state") }}</a></h3>
                        <!-- <br> -->
                        </li>
                    {% endfor %}
                </ul>

                <div id='search-div' class='form-group'>
                    <h3>Search for a city</h3>

                    <form action='/search-city'>
                        <div class='form-group'>
                            <input style="width: 25%" class='form-control' id='autocomplete' type='text' name='city-name' required>
                        </div>
                        <div class='form-group'>
                            <button class='btn btn-default' id='search-city' value='Search'>Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id='main-map' class="col-xs-12"></div>

        </div>
    </div>

</div>


<script>
    var input = document.getElementById('autocomplete');
    var options = {
        types: ['(cities)']
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);
</script>

<script>
    let idOfOptionToBold = '#visit-page-link';
</script>

<script src="/static/js/new-mapstyles.js"></script>
<script src='/static/js/main-map.js'></script>

{% endblock %}
