{% extends 'base.html' %}
{% block content %}



<h1 id='list_name'>{{ lst.name.title() }}</h1>
<input hidden id='list_id' name='list_id' value='{{ lst.list_id }}'>
<input hidden id='username' name='username' value='{{ username }}'>


{% if username == session.get('username') %}
<!--     <button id='edit-btn'>Edit List</button>
    <button hidden id='save-btn'>Save List</button> -->

    {% if lst.category_id != 1 %}
        <form action='/delete-list' id='del-list' method='POST'>
            <input type='hidden' name='list_id' value='{{ lst.list_id }}'>
            <input type='submit' value='Delete List'>
        </form>
    {% endif %}

{% endif %}
<br>
<div id='email-list'>
    <form action='/send-list-email' method='POST'>
        <input type='hidden' name='list_id' value='{{ lst.list_id }}'>
        <input type='submit' value='Send List'>
    </form>
</div>
<br>
<div id='msg-div'></div>



<div id="root"></div>

<script>
    {% if username == session.get('username') %}
        let viewingOwnPage = true;
    {% else %}
        let viewingOwnPage = false;
    {% endif %}
</script>

<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<script src="http://unpkg.com/babel-standalone"></script>

<script src="/static/js/list-item.jsx" type="text/jsx"></script>
<script src="/static/js/list-react.jsx" type="text/jsx"></script>

<script src='/static/js/search.js'></script>

{% endblock %}
<!-- </body>
</html> -->