<!doctype html>
<html>
<head>
    <title></title>
    <script src='http://code.jquery.com/jquery-3.2.1.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDznN8sa3CGq-S-mYT2yPNB58B5S3me6lg&libraries=places'></script>



    <!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE&callback=initMap">
</script>-->


</head>
<body>

{% if session.get('user_id') %}
    <a href='/profile'>Profile Page</a>
    <a href='/compare'>Compare</a>
{% endif %}

<a href='/cities'>Cities</a>
<a href='/'>Home</a>

{% if session.get('user_id') %}
    <div id='logout'>
        <!-- <form id='logout-form'> -->
        <form action='/logout' id='logout-form' method='POST'>
            <input type='submit' value='Logout' id='logout-btn'>
        </form>
    </div>
{% endif %}

</div>

<hr>

<!-- this is the page on which the list item components will mount -->
<h1>{{ lst.name.title() }}</h1>
<input hidden id='list_id' name='list_id' value='{{ lst.list_id }}'>
<input hidden id='username' name='username' value='{{ username }}'>


{% if username == session.get('username') %}
<!--     <button id='edit-btn'>Edit List</button>
    <button hidden id='save-btn'>Save List</button> -->

    {% if lst.category_id != 1 %}
        <form action='/delete-list' id='del-list' method='POST'>
            <input type='hidden' name='list_id' value='{{ lst.list_id }}'>
            <input type='submit' value='Delete List'>
        </form>
    {% endif %}

{% endif %}

<div id='msg-div'></div>



<div id="root"></div>

<script>
    {% if username == session.get('username') %}
        let viewingOwnPage = true;
    {% else %}
        let viewingOwnPage = false;
    {% endif %}
</script>

<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<script src="http://unpkg.com/babel-standalone"></script>

<script src="/static/js/list-item.jsx" type="text/jsx"></script>
<script src="/static/js/list-react.jsx" type="text/jsx"></script>

<script src='/static/js/search.js'></script>

</body>
</html>