{% extends 'base.html' %}
{% block content %}

<h1>{{ lst.name }}</h1>
<input hidden id='list_id' name='list_id' value='{{ lst.list_id }}'>

<div id='msg-div'></div>

<div id='list-items'>
    {% for item in lst_items %}
        <p data-yelp-id='{{ item.restaurant.yelp_id }}'>{{ item.restaurant.name }}</p>

    {% endfor %}
</div>

<div id='search-restaurants'>

    <form>
        <h2>Search for a restaurant you love in {{ session['city'].title() }}!</h2>
            <input type='text' id='search-term' name='term' required>
            <button id='search-btn'>Search</button>
    </form>
</div>

<div id='results-div'></div>

{% endblock %}