{% extends 'base.html' %}
{% block content %}

<h1>this is your profile page!</h1>
<a href='/'>Home</a>

<p>You are a local of {{ city }}!</p>

{% if lsts %}
    <h2>Here are your lists!</h2>
    {% for item in lsts %}
        <li>
            <a href='/users/{{ session["username"] }}/lists/{{ item.list_id }}'>{{ item.name }}</a>
        </li>
    {% endfor %}
{% endif %}

<h2>Create a list</h2>

    <form action='/add-list' method='POST'>
        <label>Name
            <input type='text' name='name' required>
            <input hidden name='status' value='draft'>
            <input type='submit'>
        </label>
    </form>

{% endblock %}