{% extends 'base.html' %}
{% block content %}

<link rel='stylesheet' type='text/css' href='/static/css/profile.css'>
<link rel='stylesheet' type='text/css' href='/static/css/restaurant.css'>

<div class='container'>
        <div class='row'>
            <div class='col-xs-9'>
                <h1>{{ restaurant.name }}</h1>

                {% if ranking %}
                    <h4>Ranked #{{ ranking }} in <a href="/cities/{{ restaurant.state.upper() }}/{{ restaurant.city.lower() }}">{{ restaurant.city }}, {{ restaurant.state }}</a></h4>
                {% else %}
                    <h4>This restaurant is not yet ranked in <a href="/cities/{{ restaurant.state.upper() }}/{{ restaurant.city.lower() }}">{{ restaurant.city }}, {{ restaurant.state }}</a></h4>
                {% endif %}
                <ul class="list-unstyled" style='display: inline-block'>
                    <li><b>Address: </b>{{ restaurant.address }}</li>
                    <li><b>Category: </b>{{ restaurant.yelp_category }}</li>
                    <li><em>Read reviews on <a href="{{ restaurant.yelp_url }}" target="_blank">Yelp</a></em></li>
                    {% if ig_loc_id %}
                        <li><em>See photos on <a href="https://www.instagram.com/explore/locations/{{ ig_loc_id }}/" target="_blank">Instagram</a></em></li>
                    {% endif %}
                </ul>
                {% if display_btn %}
                    <div class='add-rest'>
                        <form id='add-from-details' action='/add-restaurant' method='POST'>
                            <label>Add to a list: </label>
                            <select class="form-control">
                            {% for lst in lsts_to_add %}
                                <option data-list-id='{{ lst[1] }}'>{{ lst[0].title() }}</option>
                            {% endfor %}
                            </select>
                            <input type='text' hidden name='yelp_id' value='{{ restaurant.yelp_id }}'>
                            <button class='btn btn-default add-rest-btn'>Add</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class='row'>
            {% for i in range(3) %}
                <div class='ig-photo col-xs-12 col-md-6 col-lg-4'>

                    {% if photos[i][-3:] == 'mp4' %}
                        <video width='400' height='400' controls>
                            <source src='{{ photos[i] }}' type='video/mp4'>
                             Your browser does not support the video tag.
                        </video>
                    {% else %}
                        <img class='img-responsive' src='{{ photos[i] }}'/>
                    {% endif %}

                </div>
            {% endfor %}
        </div>

<div>

<script>
    let idOfOptionToBold = '';
</script>
<script src='/static/js/restaurant-details.js'></script>

{% endblock %}