{% extends 'base.html' %}
{% block content %}

      <form action='/signup' method='POST'>

        <label>Email:
            <input id='email' type='email' name='email' required>
        </label>

        <label>Password:
            <input id='password' type='password' name='password' required>
        </label>

        <label>Username:
            <input id='username' type='username' name='username' required>
            <p id='username-length'>&#10060; Username must be at least 6 characters.</p>
            <p id='username-taken'>&#10060; Username is already taken.</p>
            <p id='username-correct'>&#9989;</p>
        </label>

        <label>Zipcode:
            <input id='zipcode' type='text' name='zipcode' required>
            <p id='zipcode-invalid'>&#10060; Please enter a valid zipcode.</p>
            <p id='zipcode-valid'>&#9989;</p>
        </label>

        <input id='signup-form' type='submit' value='Signup'>

      </form>


{% endblock %}